<div>
  <input
    type="date"
    placeholder="Date debut"
    [(ngModel)]="inputData"
    (ngModelChange)="onInputChange()"
  />
</div>
<br />
<table class="table table-bordered" *ngIf="inputData">
  <thead>
    <tr>
      <th scope="col" *ngFor="let date of colums">{{ date }}</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of data">
    <tr>
      <th
        colspan="7"
        [ngStyle]="{
          'background-color': 'grey',
          color: 'white',
          'text-align': 'center'
        }"
      >
        {{ item.tuyau }}
      </th>
    </tr>
    <tr>
      <td class="td-class" [attr.colspan]="item.others.colspan">
        <app-planing-item-block
          [width]="'100%'"
          [backGroundColor]="'#9dbcc5'"
          [revisionWidth]="'70px'"
          [item]="item.planing"
        ></app-planing-item-block>
      </td>
      <td *ngFor="let td of item.others.tdCount">{{ td }}</td>
    </tr>
  </tbody>
</table>
